
body{
  padding: 0px;
  margin: 0px;
}
#menusobre{
    height:auto;
    width: 180px;
    background-color: #eca023;
    float: left;
    margin-left: 1050px;
    position: fixed;
    padding-left: 10px;
/*    z-index: 999px;*/
  /* margin-left: 1190px; */
  z-index: 999;
  bottom: 50%;
  right: 90px;
    border-radius: 10px;
}
.itemMenusobre{
    height: auto;
    width: auto;
    background-color: black;
    color: aliceblue;
    border-bottom: solid 1px #eca023;
    margin-bottom: 1px;
    
}
h1{
  padding: 0px;
  margin: 0px;
}

/*Conteudo Historia da empresa*/
.container_conteudo_hitoria{
  width: 100%;
  min-height: 580px;
  margin: 0 auto;
  background-image: url(../imagens/7.jpg);
  border-bottom: solid 1px #F09900;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 100px;
}

#conteudo_hitoria{
  max-width: 1200px;
  height: auto;
  min-height:580px;
  margin: auto;
  color: aliceblue;   
/*  background-color: #363838;*/
}

#titulo_historia{
  width: 1200px;
  height:50px;
/*  background-color: #f09900;*/
  color: aliceblue;
/*  margin-top: 50px;*/
}

#titulo_historia h1{
margin: 0px;
}

#texto_historia p{
margin:0px;
padding: 0px;
text-align: justify;
font-size: 28px;
padding-left: 50px;

}

/*Conteudo visao da empresa*/
.container_conteudo_visao{
    background-image: url(../imagens/8.jpg);
    background-size: cover;
    background-attachment: fixed;
    border-bottom: solid 1px #F09900;
    width: 100%;
    height: auto;
    min-height: 580px;
    margin: auto;
}
#conteudo_visao{
  max-width: 1200px;
  height: auto;
  min-height:580px;
  margin: auto;
/*  background-color: red;*/
}

#titulo_visao{
  width: 100%;
  height:50px;
  color: aliceblue;
    
/*  background-color: yellow;*/
}

#titulo_visao h1{
  margin: 0px;
}

#texto_visao p{
margin:0px;
padding: 0px;
text-align: justify;
font-size: 28px;
padding-left: 50px;
color: aliceblue;
padding-right: 50px;
}

/*Conteudo missao*/
.container_conteudo_missao{

    background-size: cover;
    background-attachment: fixed;
  width: 100%;
  height: auto;
  min-height: 580px;
  margin: auto;
  border-bottom: solid 1px #F09900;
}
#conteudo_missao{
  max-width: 1200px;
  height: auto;
  min-height:580px;
  margin: auto;
}

#titulo_missao{
  width: 100%;
  height:50px;
    color: aliceblue;
}

#titulo_missao h1{
  margin: 0px;
}

#texto_missao p{

margin:0px;
padding: 0px;
text-align: justify;
font-size: 28px;
padding-left: 50px;
padding-right: 50px;
    color: aliceblue;
}

/*Conteudo valores*/
.container_conteudo_valores{
background-image: url(../imagens/valores.jpg);
    background-size: cover;
    background-attachment: fixed;
  width: 100%;
  height: auto;
  min-height: 580px;
  margin: auto;
    border-bottom: solid 1px #F09900;
}
#conteudo_valores{
  max-width: 1200px;
  height: auto;
  min-height:580px;
  margin: auto;
 
}

#titulo_valores{
  width: 100%;
  height:50px;
color: aliceblue;

}

#titulo_valores h1{
  margin: 0px;
}

#texto_valores p{
margin:0px;
padding: 0px;
text-align: justify;
font-size: 28px;
padding-left: 50px;
padding-right: 50px;
color: aliceblue;
}
