.principal{
  /* background-color: red; */

}



.modal_nova_pergunta{
	width:700px;
	height:400px;
	/* background-color:#000; */
	/* margin:auto; */
  margin-top: 10%;
  /* margin: auto; */
  margin-left: auto;
  margin-right: auto;
  /* margin-left: 300px; */


}

.barra_que_segura{
  width: 100%;
  height: 100px;
  background-color: red;
  float: left;
  padding-top: 1px;
}

.modalContainer_forum{
	width:100%;
	height:100vh;
	/* background: rgba(0, 0, 0, 0.7); */
	position:fixed;
  /* margin: auto; */
	display:none;
  z-index: 999;


}

.segura_perguntas{
  width: 100%;
  height: 100%;
  background-color: #1C4595;
  padding-top: 10px;
}

.nova_pergunta{
  width:670px;
	height:380px;
  margin-left: 10px;
  border: 7px solid #fff;
  background-color: #1C4595;

}

.cabecalho_forum{
    padding-top: 100px;
  width: 100%;
  height: auto;
  min-height: 300px;
  overflow: hidden;
  /* background-color: purple; */
}

.diminuir{
	padding-top: 100px;
width: 100%;
height: auto;
min-height: 100px;
overflow: hidden;
}

.diminuir2{

width: 100%;
height: auto;
min-height: 100px;
overflow: hidden;
}

.descricao_cabecalho_forum{
  max-width: 1200px;
  height: auto;
  min-height: 300px;
  overflow: hidden;
  /* background-color: brown; */
  margin: auto;
}

.titulo_forum{
  width: 100%;
  height: auto;
  min-height: 100px;
  overflow:hidden;
  /* background-color: pink; */

}

.titulo_forum h1{
  margin: auto;
  font-size: 100px;
  text-align: center;
  font-family: 'Permanent Marker', cursive;

}

.regras_forum{
  width: 100%;
  height: auto;
  min-width: 100px;
  overflow: hidden;
  /* background-color: #CF0cf0; */
}

.regras_forum p{
    margin: 0px;
    text-align: left;
    font-size: 20px;
    font-weight: 200;
    font-family: 'Karla', sans-serif;
}

.mande_sua_pergunta{
  width: 100%;
  height: 120px;
  /* background-color: #f0cc05; */
}

.escrita_pergunta{
  max-width: 1200px;
  height: 120px;
  margin: auto;
  /* background-color: red; */
}

.title_forum{
  width: 100%;
  height: 70px;
  /* background-color: #ffccc0; */
}

.title_forum p{
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 50px;
}

.Butom_Fazer_Pergunta{
  width: 100%;
  height: 50px;
  /* background-color:#fdc02d; */
}

.btnAbrirModal{
  width: 190px;
  height: 30px;
  background-color: #F09900;
  border-radius: 10px;
  text-align: center;
  font-weight: 600;
    padding-top: 10px;
    margin-left: 950px;
}

.btnAbrirModal a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;

}


/* FEED de perguntas */

.container_conteudo_Forum{
  width: 100%;
  height: auto;
  min-height: 500px;
  overflow: hidden;
  /* background-color: #9b0000; */
}

.conteudo_Forum{
  max-width: 1200px;
  height: auto;
  min-height: 500px;
  overflow: hidden;
  margin: auto;
  /* background-color: #009b88; */
}


.filtros_forum{
  width: 400px;
  height: auto;
  min-height: 200px;
  overflow: hidden;
  /* background-color: #0a9b00; */
  /*float: left;*/
}

.perguntas_forum{
  width:390px;
  height: auto;
  min-height: 200px;
  overflow: hidden;
   /*background-color: #ff4305;*/
  /*margin-left: 400px;*/
  float: left;
}

.pergunta_user_forum{
  width: 300px;
  height: 400px;
   /*background-color: #680000;*/
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
  border: 1px solid #ccc;
}

.dados_user{
  width: 100%;
  height: 200px;
   /*background-color: #006805;*/
}

.img_user{
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  /*float: left;*/
  /*margin-left: 10px;*/
}

.img_user img{
  width: 100%;
  height: 100%;
  border-radius: 100px;


}

.dados_user_tema{
  width: 100%;
  min-height: 30px;
	height: auto;
   /* background-color: #006268; */
	 overflow: hidden;
  /*float: left;*/
  margin-left: auto;
  margin-right: auto;
}

.dados_user_tema p{
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  font-weight: bold;
  font-family: 'Karla', sans-serif;
}

.pergunta_user_forum p{
  padding: 0px;
  margin: 0px;

}

.dados_user_tempo{
  width: 50px;
  height: 100%;
  /* background-color: #ff5268; */
  float: left;
}

.dados_user_comentarios{
  width: 180px;
  height: 100%;
  /* background-color: #cc6268; */
  float: left;
}

.dados_pergunta{
  width: 100%;
  height: auto;
  min-height: 100px;
  overflow: hidden;
   /* background-color: #686800; */
	 margin-top: 15px;
  /*margin-left: 80px;*/
}

.dados_pergunta p{
  padding: 0px;
  margin: 0px;
  font-style: italic;
  text-align: center;
  font-size: 15px;
  line-height: 1.5;
  color:#9E9E9E;
  font-family: 'Karla', sans-serif;
}

.pergunta_user{
	width: 100%;
	height: 30px;
	/* background-color: red; */
}

.nome_user_perguntas{
	width: 50%;
	margin-left: auto;
	/* background-color: blue; */
	height: 30px;
	margin-right: 10px;
}

.nome_user_perguntas p{
	font-size: 15px;
	margin: 0px;
	padding-top: 10%;
	font-weight: 500;
	color:#9E9E9E;
	word-spacing: 2px;
	text-align: right;
	font-style: italic;
}

.aspas{
  font-family: 'Coustard', serif;
  font-size: 50px;
  margin: 0px;
}

.dados_pergunta img{

  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.segura_btnResponder{
  width: 100%;
  height: 40px;
  /* background-color: #ffc; */
}

.btnResponder{
  width: 100px;
  height: 25px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
  text-align: center;
  padding-top: 5px;
  margin-left:auto;
	margin-right: auto;
	margin-top: 10px;

}

.btnResponder a{
  text-decoration: none;
  font-size: 15px;
  color: #13436b;
}

.btnResponder:hover{
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);

}

/* Pagina de responder */
.pergunta_forum{
		max-width: 1200px;
		height: auto;
		min-height: 500px;
		overflow: hidden;
		/* background-color: blue; */
		margin: auto;

}

.segura_perguntas_id{
	width: 50%;
	height: auto;
	min-height: 100px;
	overflow: hidden;
	/* background-color: red; */
	margin: auto;
	border: 1px solid #ccc;


}

.cabecalho_pergunta{
	width: 10%;
	height: 30%;
	/* background-color: green; */
	float: left;
	padding: 1%;
}

.segura_fotUser_id{
	height: 100%;
	width: 100%;
	/* background-color: pink; */
	border-radius: 100%;
	float: left;
}

.segura_fotUser_id img{
	width: 100%;
	height: 100%;
	border-radius: 100%;
	float: left;
}

.segura_pergunta_item{
	height: auto;
	min-height: 100%;
	overflow: hidden;
	width: 88%;
	/* background-color: pink; */
	float: left;
}

.tema_pergunta{
	width: 100%;
	height: auto;
	min-height: 20%;
	overflow: hidden;
	/* background-color: green; */
	padding-top: 3%;
}

.tema_pergunta p{
	margin: 0px;
	font-weight: bold;
	padding-left: 2%;
	font-size: 150%;
	margin: 0px;
}

.Pergunta_item{
	width: 100%;
	height: auto;
	min-height: 30%;
	overflow: hidden;

	/* background-color: red; */
}

.segura_nomeUser_id{

	height: 100%;
	float: left;
	background-color: #ededed;
	padding-left: 3%;
}

.segura_nomeUser_id p{
	padding-top: 50%;
	padding-left: 2%;
	font-size: 200%;
	margin: 0px;
}

.segura_totalresp_id{
	width: 50%;
	height: 100%;
	float: left;
	background-color: #dadaee;
	padding-left: 3%;
}

.segura_totalresp_id p{
	padding-top: 7%;
	padding-left: 2%;
	font-size: 150%;
	margin: 0px;
}

.nome_user_perguntas_item{
	width: 100%;
	height: 5%;

}

.nome_user_perguntas_item p{
	margin: 0px;
	padding-right:2%;
	text-align: right;
}

.respostas_pergunta{
	width: 100%;
	height: auto;
	min-height: 100px;
	overflow: hidden;
	    border-top: 5px solid #DE0000;
}

.respostas_pergunta_item{
	max-width: 1200px;
	height: auto;
	min-height: 100px;
	overflow: hidden;
	margin: auto;

}

.cor0{
	color: #000;
}

.resposta_id{
	width: 26%;
	float: left;
	margin-left: 5%;
	margin-top: 20px;
	margin-bottom: 20px;
}



.cabecalho_Resposta{
	width: 70px;
	height: 70px;
	/* background-color: blue; */
	float: left;
	padding: 2%;
}

.cabecalho_Resposta img{
	width: 100%;
	height: 100%;
	border-radius: 100%;
}

.segura_pergunta_item_resposta{
	height: auto;
	min-height: 100%;
	overflow: hidden;
	width: 70%;
	/* background-color: pink; */
	float: left;
	/* padding-left: 3%; */
}

.escrever_resposta{
	width: 700px;
	height: 400px;
	/* background-color: blue; */
	margin: auto;
}

.titulo_escrever_resposta{
	width: 100%;
	height: 10%;
	/* background-color: green; */
}

.titulo_escrever_resposta h2{
	margin: 0px;
	padding-left: 2%;
	font-size: 200%;

}

.detalhes_pergunta{
	width: 77%;
	height: 20%;
	float: left;
	/* background-color: pink; */
	padding-top: 2%;
}

.escreva_resposta_id{
	width: 508px;
	height: 205px;
	margin: auto;
	/* background-color: red; */
}

#entrada_resposta{
	width: 500px;
	height: 100px;
	border: none;
	background: none;
	margin: auto;
	font-size: 120%;
}

.btnEnviarResposta{
	width: 100px;
	height: 30px;
	margin-left: auto;
	/* background-color: #ccc; */
	padding-top: 2%;
	padding-left: 2%;
}
