body{
  font-family: helvetica;
  margin: auto;
  padding: 0px;
}


.principal{
  width: 100%;
  height: auto;
  min-height: 500px;
  /* background-color: blue; */
  margin: auto;
}

/*menu de info*/

.menu_info{
  width: 100%;
  height: 25px;
  background-color: #000;
}

#itens_menu{
  max-width: 1000px;
  height: auto;
  min-height: 50px;
  margin: auto;
  background-color: #000;
  color:#fff;
}

#itens_menu ul{
  text-decoration: none;
  list-style: none;
  padding: 0px;
  margin: 0px;
  font-size: 20px;
}

#itens_menu ul li{
  display: inline;
  margin-left: 50px;
}

/* Slider */
.container_slider{
  width: 100%;
  height: 100vh;
  /*background-color: red;*/
  padding-top:100px;
  background-image: url(../imagens/10.jpg);
  background-attachment:fixed;
    background-size: cover;
}

#slider{
  max-width: 100%;
  height: 560px;
  /* background-color: #ccc; */


}

/* Barra de pesquisa */

.barra_buscar_dados{
  width: 100%;
  height: 100vh;

  float: left;
  /* background-color: #000; */
  background-color: rgba(255,255,255,0.2);
/*  margin-top: 13%;*/
  color: #f9c44c;
}

.FrmBuscarDados{
  margin: auto;
  max-width: 500px;
  padding-top: 20px;
  color: #f9c44c;
  /* opacity: 1; */
}
/**/
.BarraTXTdados{
  width: 400px;
  border: none;
/*  height: 50px;*/
  float: left;
  margin-left: auto;

  background-color: rgba(0,0,0,0.7);
    border-radius: 20px 0px 0px 20px;
    text-align: center;
  font-size: 20px;
  border: none;
  color: #fff;
    height: auto;
    outline-color:#f09900;


}

.btnBuscarddos{
  float: left;

}

.btnBuscarddos{
  width: 50px;
  height: 27px;
  border: none;
  margin-top: 10px;
  border-radius: 0px 50px 50px 0px;
    background-clip: inherit;
  margin-left:0px;
  margin-top:9px;
/*  background-image:url();*/
    background-image: url(../imagens/luuuuupa.svg);
    background-repeat: no-repeat;
    background-position: center;


}
.btnBuscarddos:hover{

    background-color: #f09900;
}


/* menu servicos */

.container_menu_sevicos{
  width: 100%;
  height: auto;
  min-height: 580px;
  border-top: 5px solid #f09000;
   /* background-color: #13436B; */
   background-color: black;
/*   opacity: 0.9;*/
   color: #fff;
}

#Servicos{
  max-width: 1200px;
  height: auto;
  min-height: 580px;
  margin: auto;
  /* background-color: blue; */
}

.servicos_itens{
  width: 287px;
  height: 100px;
  /* background-color: red; */
  margin-left: 10px;
  margin-top: 10px;
  float: left;

}

.titulo_principal_servicos{
  width: 100%;
  height: 50px;
  padding: 0px;
  margin: 0px;
  color: #fff;
  /*background-color: #f43f2f;*/
  /*border: 3px solid gold;*/
}


.titulo_principal_servicos h1{
  /*padding-top: 40px;*/
  margin: 0px;
  font-size: 3em;
}

.titulo_principal_servicos h2{
  padding: 0px;
  margin: 0px;
  font-size: 3em;
  text-align: left;
}

.titulo_servico{
  width: 100%;
  height: 80px;
  /* background-color: purple; */
}

.imagen_titulo_servico{
  width: 87px;
  height: 100%;
  /* background-color: blue; */
  float: left;
}

.imagen_titulo_servico img{
  width: 87px;
  height: 100%;

}

.descricao_titulo_servico{
  width: 200px;
  height: 100%;
  /* background-color: yellow; */
  float: left;
}

.descricao_titulo_servico p{
  font-weight: bold;
  text-align:center;

}

.descricao_titulo_servico p a{
  text-decoration:none;
  color:#fff;
}

.descricao_titulo_servico p a:hover{
  color: #BBA649;
}

.descricao_servico{
    width: 200px;
    height: 120px;
    /* background-color: gray; */
    margin-left: 80px;
}

.descricao_servico p{
  margin: 0px;
  padding-top: 0px;
  text-align: left;
}

/* Prestadoras */

.container_menu_Prestadoras{
  width: 100%;
  height: auto;
  min-height: 580px;
  /*background-color: #f4f4f4;*/
  border-top: 5px solid #eca023;
 background-image: url(../imagens/6.jpg);
    background-size: cover;
/*  background-color: rgb(41, 42, 43);*/

  background-attachment:fixed;
}

#Prestadoras{
  max-width: 1200px;
  height: auto;
  min-height: 580px;
  margin: auto;
   /*background-color: green;*/
}

#carrossel_prestadora{
  width: 1100px;
  height: 500px;
   /*background-color: pink;*/
   margin: auto;
  /*padding-top: 20px;*/
}

.passar_carrosel{
  width: 70px;
  height: 235px;
   /*background-color: yellow; */
  float: left;
  /*position: absolute;*/
  text-align: center;
  cursor: pointer;
  padding-top: 165px;
}

.passar_carrosel a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    text-overflow: clip;
    font: normal normal normal 30px/1 FontAwesome;
}

#carrossel_prestadora_principal{
  width: 900px;
  height: 400px;
   /*background-color: red;*/
  float: left;
  overflow: hidden;
    margin-top: 40px;
}

#carrossel_prestadora_principal ul {
  list-style: none;
  padding: 0px;
  margin: 0px;

}

#carrossel_prestadora_principal ul li {
	width: 270px;
	height: 350px;
	float: left;
	margin: 0 15px;
     /*background-color:#000;*/
    transition: 1s;
    color: aliceblue;
    transition:1s;

    /* box-shadow: 1px 2px 2px #eca020; */
  /* background-color: blue; */
}

.flip{
  width: 230px;
  height: 230px;
  float: left;
  perspective: 230px;
    border-radius: 100%;
    margin: auto;
}

.flip img{
  width: 230px;
  height: 230px;
  border-radius: 100%;

}


.flip .foto_prestadora{

  /* background-color: black; */

  position: absolute;
  transform: rotateY(0deg);
  backface-visibility: hidden;
  transition: all .4s linear;
}

.flip .foto_prestadora_fundo{

  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all .4s linear;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.flip:hover .foto_prestadora{
  transform: rotateY(-180deg);
  cursor: pointer;
}

.flip:hover .foto_prestadora_fundo{
  transform: rotateY(0deg);
  cursor: pointer;
}





.flip  h2{
  width: 100%;
  bottom: -35px;
  color: #fff;
  font-size: 15px;
  text-align: center;
}

.mais:hover>.mais_menu{
  width: 180px;
  height: auto;
    transition: 1s;
}
.mais:hover{
  background-color: #eca023;

}
#mantemomenuvisivel:hover{
/*    background-color: aqua;*/
    height: auto;
    width:180px;
}

.ver_mais{
  width: 100%;
  height: 20px;
  /* background-color: purple; */
}

.ver_mais a{
  text-decoration: none;
  margin-left: 190px;
  color: #fff;
  font-weight: bold;
}



.mais_menu{
  width: 0;
  height: 0;
  min-height: 200px;
/*   background-color: blue; */
  float: left;
  margin-left: 35px;
  margin-top: -30px;



}

.mais_menu ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
     background-color: black;
   border-radius: 10px 10px 10px 10px;

}
.mais_menu ul li{
  border-bottom: 1px solid white;
  text-align: center;
  height: 30px;
  padding-top: 10px;

    opacity: 0;
}

.mais:hover>.mais_menu ul li{
 opacity: 1;
    transition: 1s;



}

.mais_menu ul li a{
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}

.ver_mais_coisas{
  width: 100%;
  height: 90px;


}

.ver_mais_coisas a{
  text-decoration: none;
margin-left: 1000px;
  color: #fff;
  font-weight: bold;
  font-size: 2em;
}

/* Produtos */

.container_menu_Produtos{
  width: 100%;
  height: auto;
  min-height: 580px;
  background-color: #000;
  border-top: 5px solid #eca023;
}

#Produtos{
  max-width: 1200px;
  height: auto;
  min-height: 580px;
  margin: auto;
  /* background-color: blue; */
}

#carrossel_produtos{
  width: 1200px;
  height: 400px;
  /* background-color: purple; */
  margin: auto;
  padding-top: 20px;
}

#carrossel_produtos_principal{
  width: auto;
  height: 100%;
  /* background-color: red; */
  float: left;
  overflow: hidden;
}

#carrossel_produtos_principal ul {
  list-style: none;
  padding: 0px;
  margin: 0px;

}

#carrossel_produtos_principal ul li {
  width: 270px;
  height: 360px;
  margin: 0 30px;
  float: left;
    /* box-shadow: 1px 2px 2px #eca020; */
  /* background-color: blue; */
}

.foto_produto{
  width: 230px;
  height: 230px;
  margin-left:20px;
  margin-top: 10px;
  /* background-color: black; */
  border-radius: 10px  10px 0  0;
}

.foto_produto img{
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0  0;
}

.segura_produto{
  width: 268px;
	height: auto;
  min-height: 300px;
  overflow: hidden;
  background-color:#020201;
  transition: 1s;
  color: aliceblue;
  border: 1px solid #eca020;
}

#carrossel_produtos_principal ul li a{
  text-decoration: none;
  color: #ccc;
}
/*
#carrossel_produtos_principal ul li:hover {



    background-color:#eca023;
    transition: 1s;
    box-shadow: 1px 2px 2px #000;
   background-color: blue;
}
*/

.descricao_produto{
  width: 100%;
  height: 50px;

  /* background-color: purple; */
}

.descricao_produto p{
  padding: 0px;
  margin: 0px;
  font-size: 13px;
    margin-left: 20px;
}


.valor_produto{
  width: 100%;
  height: 30px;
  /* background-color: yellow; */
}

.valor_produto p{
  margin: 0px;
  font-size: 20px;
  color:green;
}

.sifrao{
  font-size: 12px;
    margin-left: 20px;
}

.comprar_produto {
  width: 100%;
  height: 30px;
  /* background-color: #77a502; */
  color: #77a502;
  text-align: center;
  padding-top: 10px;
  margin: auto;
  color: #77a502;
  font-size: 20px;
  display: none;
}

#carrossel_produtos_principal li:hover{
  -webkit-box-shadow: 0 0 10px #eca020;
          box-shadow: 0 0 10px #eca020;
}

#carrossel_produtos_principal li a:hover>.comprar_produto {
  display: block;
}

.comprar_produto:hover{
  background-color: #77a502;
  color: #fff;
}


/* .comprar_produto a{
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #77a502;
  font-size: 20px;
} */

/* CarBook */

.container_menu_CarBook{
  width: 100%;
  height: auto;
  min-height: 580px;
  background-image: url(../imagens/1.jpg);
    background-size: cover;
    border-top: 5px solid #eca023;
    background-attachment: fixed;
}

#CarBook{
  max-width: 1200px;
  height: auto;
  min-height: 580px;
  margin: auto;
  /* background-color: green; */
}

.descricao_car_book{
  width: 600px;
  height: auto;
  min-height: 470px;
  overflow: hidden;
    margin-top: 40px;
  /* background-color: blue; */
  float: left;
}


.titulo_principal_servicos a{
  text-decoration: none;
  color: #fff;
}

.descricao_car_book p{
  margin: 0px;
  padding-left:50px;
  padding-right: 50px;
  padding-top: 20px;
  font-size: 20px;
  text-align: left;
    background-color: rgba(255,255,255,0.7);
  color: black;
    border-radius: 50px 10px 50px 50px;


}

.video_carbook{
  width:600px;
  height: auto;
  min-height: 500px;
  overflow: hidden;
  /* background-color: pink; */
  float: left;
}

.video_carbook img{
  width: 100%;
  height: 100%;
  padding-top: 20px;
    margin-left: 40px;
}

/* FaleConosco */

.container_menu_FaleConosco{
  width: 100%;
  height: auto;
  min-height: 580px;
  background-color:#000;
    border-top: 5px solid #eca023;
}

#FaleConosco{
  max-width: 1200px;
  height: auto;
  min-height: 580px;
  margin: auto;
  /* background-image: url("../imagens/Fale-conosco_alterado.jpg")no-repeat; */
}

.dados{
  margin:auto;
  padding-top: 100px;
  width: 820px;
}

.dados3{
  margin:auto;
  height: 50px;
  width: 820px;
}

.dados3 input{
  width: 100px;
  height: 50px;
  background-color: #eca023;
  border: none;
  color: #fff;
  font-size: 1em;
  border-radius: 10px;
}

.dados3 input:hover{

  background-color: #d48f1e;

}

.entrada_dados{
  width: 400px;
  height: 50px;
  font-size: 30px;
  /* text-transform: uppercase; */
  border: 2px solid #000;
    border-radius: 10px;
}

.dados2{
  width: 820px;
  height: 120px;
  margin: auto;
  padding-top: 10px;
}

.entrada_dados2{
  width: 810px;
  height: 100px;
  font-size: 30px;
  /* text-transform: uppercase; */
  border: 2px solid #000;
    border-radius: 10px;
}

textarea{
  resize: none;
}

/* back-to-top */

#back-to-top{
  width: 60px;
  height: 60px;
  float: left;
  /* margin-left: 1190px; */
  position: fixed;
  z-index: 999;
  bottom: 0;
  right: 90px;
  border-radius: 100px;
}

#back-to-top img{
  width: 60px;
  height: 60px;
  opacity:0.65;

}

#back-to-top img:hover{
  opacity: inherit;
}

/* Chat bot */

.chat_bot{
  width: 60px;
  height: 60px;
  float: left;
  /* margin-left: 1190px; */
  position: fixed;
  z-index: 999;
  bottom: 0;
  right: 160px;
  border-radius: 100%;
  /* background-color: blue; */

}

.imag_pulsar{
  animation: pulse 1s linear infinite;
   -webkit-animation: pulse 1s linear infinite;

}

@-webkit-keyframes pulse {
    0% {
    transform: scale(1, 1);
    }
    50% {
    transform: scale(1.1, 1.1);
    }
    100% {
    transform: scale(1, 1);
    }

@keyframes pulse {
    0% {
    transform: scale(1, 1);
    }
    50% {
    transform: scale(1.1, 1.1);
    }
    100% {
    transform: scale(1, 1);
    }
}
}

#bot{
  width: 60px;
  height: 60px;
  float: left;
  /* margin-left: 1190px; */
  position: fixed;
  z-index: 999;
  bottom: 0;
  right: 160px;
  border-radius: 100%;

}
.chat_bot:hover>.container_bot{
  display: block;
  visibility: visible;
    opacity: 1;
    transition-duration: 2s;
}

/* #bot{
  width: 500px;
  height: 500px;
  background-color: red;

} */

.container_bot{
  width: 300px;
  height: 400px;
  /* background-color: #ccc; */
  background-image: url(../imagens/fundo.png);
  float: left;
  position: fixed;
  z-index: 999;
  bottom: 0;
  right: 160px;
  border-radius:10px 10px  0 0px;
  display: none;
   visibility: hidden;
}

.user_bot{
  width: 100%;
  height: 50px;
  background-color: green;
  float: left;
  border-radius:10px 10px  0 0px;

}

.segura_foto{
  padding-top:5px;
  width: 40px;
  height: 40px;
}



.foto_bot{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-left: 10px;
  background-color: red;
}


.foto_bot img{
  width: 100%;
  height: 100%;
  border-radius: 100%;

}


.chat_bot img{
  width: 60px;
  height: 60px;
    border-radius: 100%;
}

#conteudo_bot{
  width: 290px;
  height: 300px;
  /* background-color: red; */
  margin: auto;
  overflow-y: scroll;


}

#conteudo_bot::-webkit-scrollbar {
  width:10px;
  background:#e3e0d6;

  } /* configurando scroll */
#conteudo_bot::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.1);
}

#conteudo_bot::-webkit-scrollbar-thumb {
   border-radius:10px;
    background:#8b8778;
   }

.chat_mensagen{
  width: 290px;
  height: 50px;
  /* background-color: blue; */
  margin: auto;
}

.balao2{
	background: #eff3f9;
  border-radius: 10px;
	width: 250px;
  height: 90px;
  margin: auto;
	position: relative;
    margin-bottom: 10px;

}
.balao2::before{

	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	left: -10px;
  top: 25px;
  background-color: #eff3f9;
	-webkit-transform:rotate(45deg);
}

.balao3{
	background: #F5FEE9;
  border-radius: 10px;
	width: 250px;
  height: 90px;
  margin: auto;
	position: relative;
  margin-bottom: 10px;

}
.balao3::before{

	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	left: 240px;
  top: 25px;
  background-color: #F5FEE9;
	-webkit-transform:rotate(45deg);

}

.entrada_dado_chat{
  width: 240px;
  height: 40px;
  /* background-color: pink; */
  padding-top: 10px;
  float: left;
}

.entrada_dado_chat input{
  width: 220px;
  height: 30px;
  margin-left: 10px;
  border-radius: 50px;
  border: none;
  text-align: center;

}

.buttom_enviar_mensagen{
  width: 50px;
  height: 50px;
  /* background-color: green; */
  float: left;

}

.buttom_enviar_mensagen input{
  width: 50px;
  height: 50px;
  background-image: url(../imagens/plane.png);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.rodape{
  width: 100%;
  height: auto;
  min-height: 200px;
  border-top: 5px solid #F09900;
border-bottom: solid 1px;
background-color: #000;



}

footer{
  max-width: 1200px;
  height: auto;
  min-height: 205px;
  margin: auto;
}

.detalhes_rodape{
  width: 800px;
  height: auto;
  min-height: 200px;
  float: left;
}

.detalhes_rodape ul{
  padding: 0px;
  list-style: none;
  float: left;
  margin-left: 50px;
}


.detalhes_rodape ul h2{
  margin: 0px;
  padding: 0px;
}

.detalhes_rodape ul li {
  margin-left: 20px;
}

.detalhes_rodape ul li a {
  text-decoration: none;
  color: #fff;
}

.outros{
  width: 500px;
  height: 100px;
  background-color: #000;
  margin-top: 100px;
}

.redes{
  transform: rotate(50deg);
  width: 60px;
  height: 40px;
  background-color: red;
  margin-left: 20px;
  padding-top: 20px;
  float: left;
}

.aplicativo{
  width: 100px;
  height: 100%;
  /*background-color: blue;*/
  float: left;
  margin-left: 50px;
}


.onde_estamos{
  width: 400px;
  height: auto;
  min-height: 200px;
  background-color: #000;
  float: left;
}

.mapa{
  width:400px;
  height:200px;
  border:0;
  margin: 0px;
  padding: 0px;
}
