/* Menu principal home*/
.colorRed{

 background-color: rgba(229, 0, 0,0.5);
}

.colorGreen{
  background-color: rgba(0, 142, 16,0.5);

  border-color: rgba(229, 0, 0,0.5);
}

.colorGreen{
  border-color: rgba(0, 142, 16,0.5);
}

.displayNone{
  display: none;
  transition: 2s;
}

.displayBlock{
  display: block;
  transition: 2s;
}
.menu{
  width: 100%;
  margin: auto;
  height: auto;
  min-height: 100px;
  /* background-color: #13436b; */
  background-color: #000;
  position: fixed;
  z-index: 100;
  float: left;
}

.menu_home{
  width: 100%;
  margin: auto;
  height: auto;
  min-height: 100px;
  /* background-color: #13436b; */
  /* background-color: #000; */
/*    background-color: rgba(0,0,0,0.5);*/
  position: fixed;
  z-index: 100;
  float: left;
}

#menu_navegacao{
  max-width: 1200px;
  background-color: rgba(0,0,0,0.5);
  height: 100px;
  /* background-color: pink; */
  margin: auto;
  /* float:left; */

}

.logo{
  width: 200px;
  height: 100%;
   /* background-color: #BBA649; */
    /* margin-left: 15%; */
  float: left;
}

.logo img{
  width: 200px;
  height: 100%;
  margin-top: -20px
}

.enfeite{
  width: 50px;
  height: 60px;
  /*background-color: purple;*/
  float: left;
  position: absolute;
  margin-left: 45px;
}

.enfeite img{
  width: 60px;
  height: 50px;
}


.menu_ancora{
  width: 800px;
  height: 100%;
  /* background-color:yellow; */
  float: left;

}

.menu_ancora_home{
  width: 1000px;
  height: 100%;
  margin: auto;
  /* background-color: green; */

}

.menu_ancora_itens{
  width: 100%;
  height: 50%;
  /* background-color: green; */
}

.bordao{
  width: 100%;
  height: 50%;
  /* background-color: red; */
  /* z-index: -20; */

}

.bordao p {
  font-style: italic;
  color: #fff;
  margin-left: 30%;
  font-family: 'Karla', sans-serif;

}

.menu_ancora_itens_principal{
  width: 680px;
  height: 100%;
  float: left;
  /* background-color: blue; */
}

.menu_ancora_itens_principal ul{
  /* background-color: #fff; */
  height: 100%;
  width: 100%;
  padding: 0px;
  list-style: none;
  margin: auto;
  float: left;
  color: #fff;
  font-family: 'Karla', sans-serif;
}

.menu_ancora_itens_principal ul li a{
text-decoration:none;
color: #fff;

}
.menu_ancora_itens_principal ul li{
  position: relative;
  height: 100px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline;
  margin-left: 10px;
  margin-bottom: -20;
  font-size:  19px;
    font-family:  century ghotic;
  /*border-bottom: 2px solid black;*/
  text-align: center;
  line-height:70px;
}

.menu_ancora_itens_principal ul li:hover{
  border-top:1px solid #DE0000;
  border-bottom:1px solid #DE0000;
  transition: 2s;
  transform: rotateX(10px);
}

.login{
  width: 150px;

  text-align: center;
/*   background-color: green; */
  float: left;

  margin-top: 10px;
}
.login p{
  float: left;
  margin-top: 15px;
  margin-left: 2px;
  color: #fff;
  text-decoration: none;
}


#entre{
  color:#ecb158;
}

#cadastro:hover{
  color:#fee517;
}

.mais{
  width: 30px;
  height: 30px;
  /* background-color: red; */
  float: left;
  border: 3px solid #fff;
  border-radius: 80px;
  margin-top: 15px;
  margin-left: 10px;
}

.mais img{
  width: 100%;
  height: 68%;
  margin-top: 5px;
  border-radius: 100px;

  /* background-color: blue; */
}



/* Modal */
.modalContainer{
	width:100%;
	height:100%;
/*	background: rgba(0, 0, 0, 0.7);*/
	position:fixed;
  /* margin-left: 600px; */
  /* margin: auto; */
  margin-left: auto;
  margin-right: auto;
	display:none;
  z-index: 999;
}

.modalContainer_cadastro{
  width:100%;
	height:100%;
	position:fixed;
	display:none;
  z-index: 999;
  /* background: rgba(0, 0, 0, 0.7); */

}
/*espaço onde se encontra a modal*/
.modal{
	max-width:1200px;
	height:450px;
/*	 background-color:red; */
  margin: auto;
	/* margin:auto; */
  padding-top:60px;
  /* margin-top: 60px; */
  /* margin-left: 50%; */
  /* margin-right: auto; */
  /* margin-bottom: auto; */
   /* margin-left: 300px; */

}



.modal_cadastro{
	max-width:1200px;
	height:600px;
/*	 background-color:red; */
  padding-top: 60px;
/*  padding: center;*/
  margin: auto;
    padding-left: 650px;

}
/*________________________________*/

.escolha::before{

	content: "";
	width: 30px;
	height: 30px;
	position: absolute;
  margin-left: 200px;
  top:50px;
  background-color: #fff;
  float: left;
  /* z-index: 999; */
	-webkit-transform:rotate(45deg);
}


.fechar{
  width: 30px;
  height: 30px;
  background-image: url(../imagens/exit.png);
  /* background-size: 100%; */
  background-position:center;
  background-color: #000;
  border-top: 1px solid #eca020;
  border-right: 1px solid #eca020;
  float: left;
  margin-left:285px;
  margin-top: -15px;
  border-radius: 100%;
}

/* Login */
.titulo_login{
  width: 280px;
  height: 50px;
/*   background-color: #fff; */
  margin: auto;
  font-weight: 400;
  text-align: center;
}

/* Float label */

#respostauser{
  margin: 0px;
  padding: 0px;
  float: left;
  color:rgba(229, 0, 0,0.5);
}

.displayNoneUser{
  display: none;
}

.displayBlockUser{
  display: block;
}



.tipo{
  float: left;
  width: 50%;
  height: 100%;
}

#formBody .control {
  float: left;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #000;
  padding-top: 23px;
  padding-bottom: 10px;
}
#formBody .control.small {
  width: 30%;
  border-right: 1px solid #ddd;
}
#formBody .control.medium {
  width: 260px;
  margin-left: 20px;
}

#formBody .control:last-child {
  border: 0;
}
#formBody input,
#formBody textarea {
  display: block;
  width: 100%;
  border: 0;
  outline: 0;
  resize: none;
  background-color: rgba(0,0,0,0);
}
#formBody input + label,
#formBody textarea + label {
  position: absolute;
  top: 10px;
  transition: top 0.7s ease, opacity 0.7s ease;
  opacity: 0;
  font-size: 13px;
  font-weight: 600;
  color: #ccc;
}
#formBody input:valid + label,
#formBody textarea:valid + label {
  opacity: 1;
  top: 3px;
}
#formBody input:focus + label,
#formBody textarea:focus + label {
  color: #2c8efe;
}

#formBody label span{
  color: red;
}

#respostaNomecompleto span{
  margin: 0px;
  padding: 0px;
  float: left;
  color: red;
}



.buttom_enviar_login{
  width: 90px;
  height: 30px;
   background-color: black;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
/*  padding-top: 10px;*/
}

#btnLogar{
    width: 50%;
    position: relative;
    min-height: 44px;
    margin-bottom: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    background-color: rgb(33, 150, 243);
    border-color: rgb(33, 150, 243);
    border-image: initial;
    border-radius: 40px;
    padding: 10px 0px;
    color: #fff;
    font-weight: 400;
}

#btnLogarUser{
    width: 100%;
    position: relative;
    min-height: 44px;
    margin-bottom: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
/*    background-color: rgb(33, 150, 243);*/
    background-color: #eca023;
    border-color: rgb(33, 150, 243);
    border-image: initial;
    border-radius: 40px;
    padding: 10px 0px;
    color: #fff;
    font-weight: 400;
}

.manter_conectado{
  width: 280px;
  margin: auto;
  /* background-color: red; */
  font-size: 13px;
  padding-top: -5px;
  text-align: center;
}

.stay-connected{

  margin: 10px 0 20px;
  font-size: 12px;
  text-align: left;
  position: relative;

}


.manter_conectado input[type=checkbox] {
    outline: 0;
    margin: 0 10px 0 0;
    position: relative;
    display: inline-block;
    line-height: 1em;
    background-color: #fff;
    border: solid 1px #ccc;
    padding: 0;
    width: 16px;
    height: 16px;
    color: #fff;
    font-size: 14px;
    text-align: center;

}

#btnLogar select {
    text-transform: none;

}

#btnLogarUser select {
    text-transform: none;

}


.termos_de_uso{
  width: 220px;
  height: 50px;
  background-color: pink;
  margin-left: auto;
  margin-right: auto;
    margin-top: 5px;

  padding: 30px;
    padding-top: 0px;
}

.termos_de_uso p{
  margin: 0px;
  padding: 0px;

  font-size: 13px;
  color: #666;
  letter-spacing: 0;
  line-height: 19px;
}

.novo_por_aqui{
  width: 280px;
  height: 80px;
  /* background-color: red; */
  margin: auto;
}

.titulo_porAqui{
  width: 100%;
  height: 20px;
  /* background-color: blue; */
  padding-top: 20px;
}

.titulo_porAqui p{
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 18px;
  color: #666;
  height: 20px;
  padding: 5px 0;
  /* background-color: #f7f7f7; */
}

#novo_cadastro_link{
  text-align: center;
  font-size: 20px;
  color: #666;
  height: 20px;
  padding: 5px 0;


  /* background-color: #f7f7f7; */
}
a{
    text-decoration: none;
    color: #666;
}

#novo_cadastro_link div{
  margin-top: 1px;
  color: #666;


/*  text-underline-position: none;*/
  /* background-color: #f7f7f7; */
}

#login_cad_link{
  text-align: center;
  font-size: 20px;
  color: #666;
  height: 20px;
  padding: 5px 0;
  /* background-color: #f7f7f7; */
}

.titulo_login h1{
  margin: 0px;
  padding: 0px;
  z-index:999;
}

.fechar_cadastro{
  width: 30px;
  height: 30px;
  background-image: url(../imagens/exit.png);
  /* background-size: 100%; */
  background-position:center;
  background-color: #000;
  border-top: 1px solid #eca020;
  border-right: 1px solid #eca020;
  float: left;
  margin-left:290px;
  margin-top: -15px;
  border-radius: 100%;

}



.escolha{
  width: 300px;
  min-height: 300px;
  background-color: #fff;
/*  background: linear-gradient(#eca023, black,black); */
    border: solid 1px black;
/*  box-shadow: 5px 10px 8px #eca020;*/
  margin-left: 590px;
}

.tipo_login{
  width: 280px;
  height: 50px;
  /*background-color: red;*/
  margin: auto;

}

.tipo_login_{
  width: 140px;
  height: 50px;
  float: left;
  /* background-color: blue; */
}
/*
.tipo input[type='radio']{
    display: none;

}
.tipo input[type='radio']+label:before {
    background-color: #eca023;
    height: 100px;
    width: 100px;

}
.tipo input[type='radio']+label:checked {
    background-color: #000;
    height: 100px;
    width: 100px;

*/



}



.cadastro{
  width: 300px;
  height: 600px;
  background-color: #fff;
  box-shadow: 5px 10px 8px #eca020;
  margin-left: 700px;
}

.foto_user_cad{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: auto;
  background-image: url(../imagens/imageUser.png);
  background-size: 100px;
}

#img{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  float: left;
}
.segura_file_prest{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #fff;
  float: left;
  margin-left: 175px;
  margin-top: -40px;
  z-index: 999;
  /* position: absolute; */
}
.filePrest{
  width: 50px;
  height: 50px;
  overflow: hidden;
  background-image: url(../imagens/câmera.png);
  background-size: 50px;
  background-repeat: no-repeat;
  float: left;

}

.filePrest input[type=file]{
  width: 50px;
  height: 50px;
  opacity: 0;
}

.formModal{
  overflow-y: auto;
/*   background-color: #fff;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  width: 300px;
  height: 200px;
}

.formModal::-webkit-scrollbar {
  width:10px;
  background:#e3e0d6;

  } /* configurando scroll */
.formModal::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.1);
}

.formModal::-webkit-scrollbar-thumb {
   border-radius:10px;
    background:#8b8778;
   }


.cadastro::before{

	content: "";
	width: 30px;
	height: 30px;
	position: absolute;
  margin-left: 140px;
  top:63px;
  background-color: #fff;
  float: left;
  /* z-index: 999; */
	-webkit-transform:rotate(45deg);
}

.log{
  width: 70px;
  height: 50px;
  /* background-color: red; */
  float: left;
  margin-top: 5px;
}

.caixa_de_ferramenta{
  width: 70px;
  height: 50px;
  /* background-color: green; */
  float: left;
}

.caixa_de_ferramenta img{
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

.nome_user{
  width: 110px;
  height: 50px;
  /* background-color: green; */
  float: left;
}

.nome_user p{
  padding-top: 20px;
  margin: 0px;
  font-size: 15px;
  color: #fff;
  text-align: center;
}

.foto_user_login{
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-top: 5px;
  float: left;
    background-color: #fff;
  border: 3px solid #fff;
/*    border-radius: 100%;*/
}

.foto_user_login img{
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.sair_login{
  width: 30px;
  height: 30px;
  /* background-color: pink; */
  float: left;
  margin-left: 5px;
  margin-top: 15px;
}

.sair_login img{
  width: 100%;
  height: 100%;
}

.menu_user{
  width: 300px;
  height: 160px;
  background-color: #fff;
  margin-top: 35px;
  float: left;
  border-radius: 5px;
  border: 1px solid #BDBDBD;
  z-index: 9999;
  position: fixed;

}

.segura_menu_info{
  width: 400px;
  height: 240px;
  display: none;
  /* background-color: red; */
  float: left;
  margin-top: -20px;
  margin-left: -200px;

}

.log:hover>.segura_menu_info{
  display: block;
  transition: 2s;
}

.menu_user::before{

	content: "";
	width: 30px;
	height: 30px;
	position: absolute;
  margin-left: 218px;
  top:-5px;
  background-color: #fff;
  float: left;
  /* z-index:-1; */
	-webkit-transform:rotate(45deg);
  /* border-top: 4px solid #BDBDBD; */
  /* border-left: 4px solid #BDBDBD; */
}

.info_nome_user{
  width: 100%;
  height: 50px;
  /* background-color: blue; */
  border-bottom: 1px solid #666;
}

.info_nome_user h2{
  margin: 0px;
  padding-top: 5px;
  padding-left: 10px;
  color: #666;
  font-size: 35px;
  font-weight: 200;
}

.item_info{
  width: 100%;
  height: 20px;
  /* background-color: red; */
  margin-top: 5px;

}

.item_info a{
  font-size: 20px;
  margin-left: 10px;
  text-decoration: none;
  /* margin-top: 10px; */
  font-weight: 200;
  color: #000;
}

.item_info a:hover{

  color: #eca023;
}

.carrinhoCompras{
  width: 10%;
  height: 100px;
  margin-left: auto;
  background-color: red;
  float: left;
  position: absolute;
  z-index: 999;
}
