@charset "utf-8";
/* CSS Document */

body {

	background-color:#000000;
	margin:0pc;
	
	background-repeat:no-repeat;
	background-position:center;*/
}

#principal {

	width:980px;
	height:1200px;
	background-color:#000;
	margin-left:auto;
	margin-right:auto;
	border:1px solid #000000;
}

#header {

	width:100%;
	height:200px;
	background-color:#999999;
	/*background-image:url(../imagens/mvc.jpg);*/
	
	border:1px solid #000000;
}

#menu {

	width:100%;
	height:50px;
	background-color:#EFEFEF;

}

#content {

	width:100%;
	height:900px;
	background-color:#FFFFFF;

}

#footer {

	width:100%;
	height:50px;
	background-color:#999999;

}

/*Configuração da tablea do menu*/

#tblmenu {

	width:100%;
	height:100%;
	border:solid 2px;

}

#tblmenu td {

	border:solid 1px;
	background-color:#FFFF00;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#993300;
	font-weight:bold;
	text-align:center;
	width:20%;
}


/**/

/*formatação de link*/
a {

	text-decoration:none;
	color:#333333;
}

a:hover {

	/*color:#CCCCCC;
	font-size:16px;*/
}

#tblmenu td:hover {
	
	background-color:#FFFFCC;
	font-size:18px;

}

/*
a:alink {

	text-decoration:none;
	color:#FFFFFF;
}

a:vlink {
	text-decoration:none;
	color:#FFFFFF;
}
*/
/**/

/*Divs para estrutura o conteudo*/

#conteudo1 {

	width:294px;
	height:300px;
	background-color:#CCCCCC;
	/*position:absolute;*/
	float:left;
	

}
#conteudo2 {

	width:670px;
	height:300px;
	background-color:#FFFFFF;
	/*position:absolute;
	margin-left:294px;*/
	float:right;
	
	padding:2px;
	overflow:auto;


}


#conteudo3 {

	width:670px;
	height:300px;
	background-color:#FFFFFF;
	/*position:absolute;
	margin-left:294px;*/
	float:left;

}


.titulo {

	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	text-align:center;
	color:#0099FF;
	font-weight:bold;

}

.texto {

	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:justify;

}



/*formatação para o php*/

#cadastro {

	width:100%;
	height:400px;
	background-color:#FFFFFF;
	margin-bottom:50px;
	
}

#tblcadastro {
	width:400px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	border:solid 2px;
	border-color:#C0C0C0;
	border-radius:5px 5px 5px 5px;
	box-shadow:10px 10px 10px #ccc;
	
}

.tblcadastro_td{
	width:100px;
	border:solid 1px;
	border-color:#CCCCCC;
	font-family:verdana;
	font-size:12px;
	font-weight:bold;
	height:40px;
	text-align:center;
	border-color:#DCDCDC;
	background-color:#E8E8E8;
}


.tblcadastro_td_campos{
	width:100px;
	border:solid 1px;
	border-color:#CCCCCC;
	font-family:verdana;
	font-size:12px;
	font-weight:bold;
	height:40px;
	text-align:left;
	border-color:#DCDCDC;
}

#consulta {
	
	width:100%;
	height:300px;
	background-color:#FFFFFF;
	overflow:auto;


}

#tblconsulta {

	width:80%;
	
	margin-left:auto;
	margin-right:auto;
	background-color:#FFFFFF;
	border:solid 2px;
	border-color:#C0C0C0;
	border-radius:5px 5px 5px 5px;
	box-shadow:10px 10px 10px #ccc;


}

#tblconsulta td{

	width:20%;
	border: solid 1px;
	

}

.titulo_tabela {
	background-color:#6495ED;
	font-family:verdana;
	font-size:16px;
	text-align:center;
	height:50px;
	color:#ffffff;
	border-radius:5px 5px 5px 5px;


}


/**/

.caixa:focus{
	background-color:#FFFFCC;
}
.caixa{
	font-family:verdana;
	font-size:10px;
}



