/*css*/

/*
Autor:Luana Fernandes
Descrição: Tela de cadastro de produtos
Data:19/05/2018
 */

.container_produto{
  width: 100%;
  height: 1200px;
  /* display: flex; */
  /* background-color: magenta; */
}

.conteudo_produto{
  width: 50%;
  height: 100%;
  /* background-color: green; */
}

.segura_fotos{
  width: 630px;
  height: 350px;
  /* background-color: purple; */
  margin: auto;
}

.suporte_foto{
  width: 300px;
  height: 150px;
  margin-top: 10px;
   margin-left: 10px;
  /* position: fixed; */
  /* background-color: blue; */
  float: left;
}

  .filePost{
  width: 50px;
  height: 40px;
  overflow: hidden;
  background-image: url(../../imagens/cam.png);
  background-size: 50px;
  margin-left: auto;
  margin-right:auto;
}

.filePost input[type=file]{
  width: 80px;
  height: 80px;
  opacity: 0;
}

 .segura_preview{
  width: 200px;
  height: 200px;
  margin: auto;
  margin-left: 40px;;
  /* background-color: red; */
}

.preview_img{
  width: 200px;
  height: 100px;
  /* margin: auto; */
  /* background-color: green; */
}

.preview_img img{
  width: 100px;
  height: 200px;
}

.dado_nome{
  width: 80px;
  height: 50px;
  margin-left: 55px;
  /* background-color: red; */
}

.segura_input{
  width: 280px;
  height: 450px;
  float: left;
  margin-left: 35px;
  margin-top: 10px;
  /* background-color:blue; */
}

.dado_preco{
  width: 40px;
  height: 15px;
  background-color: magenta;
  margin-left: 50px;
  /* margin-right: auto; */
  margin-top: 50px;
  padding: 20px;
}

.sub_categoria{
  width: 200px;
  height: 40px;
  margin-left: 50px;



  /* background-color: red; */
}

.obs{
  width:450px;
  height: 150px;
  /* background-color: yellow; */
  margin-top: 30px;
  margin-left: 120px;
}



.buttom_enviar{
  width: 100px;
  height: 50px;

  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

#btnEnviar{
width: 80px;
height: 30px;
/* background:orange; */
color:#fff;
box-shadow:0 5px 0 yellow;
border:none;
cursor: pointer;
/* display:inline-block; */
text-decoration: none;
border-radius: 10px;


}

#btnEnviar:active{
  position:relative;
  top:5px;
  box-shadow:none;
}

#btnEnviar:hover{
  /* background:orange; */
  box-shadow:0 5px 0 yellow;
}


/*listar de produto*/
.listarCadastros{
  width:48%;
  height: 50%;
  /* background-color: yellow; */
  margin-left: auto;
  overflow-y: scroll;
}

.titulo_produto{
  max-width: 100%;
  height: 10%;
  /* border: 1px solid #000; */
  /* background-color: #fff; */
  margin: auto;

}

.conteudo_tbl_produto{
  width:30%;
  height: 40px;
  background-color: white;
  float: left;
  margin: auto;
  margin-left: 15px;
}

.conteudo_tbl_produto p{
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-size: 200%;
}

.conteudoProduto{
  width: 100%;
  height: 90px;
  /* background-color: green; */
  padding: 0px;
  margin: 0px;
}

.item_produto{
  width: 30%;
  height: 75%;
  float: left;
  /* background-color: orange; */
  margin-left: 15px;
}

.item_produto p{
  margin: 0px;
  padding-top: 10%;
  padding-left: 10%;
  text-align: left;
  font-size: 150%;
}

.imgProduto{
  width: 65%;
  height: 85%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  /* background-color: red; */
}

.imgProduto img{
  width: 100%;
  height: 100%;

}

.nomeProduto{
  width: 65%;
  height: 85%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  /* background-color: red; */
  text-align: center;
  font-style: bold;
  font-size: 20px;
}

.segura_modo{
  width:80px;
  height: 30px;
  margin: auto;
  padding-top: 10%;
}

.modo{
  width: 30px;
  height: 30px;
  float: left;
  margin-left: 10px;
  text-align: center;
}

.modo img {
  width: 30px;
  height: 30px;

}

/* Controle de compras  */

.controlle_compras{
  width: 48%;
  height: 100%;
  /* background-color: blue; */
  margin-left: 2%;
  float: left;
}

.controlle_compras_detalhes{
  width: 100%;
  height: 450px;
  background-color: #acacac;
  /* margin-left: 2%; */
  float: left;
}


.controlle_compras_detalhes::-webkit-scrollbar {
  width:10px;
  background:#e3e0d6;

  } /* configurando scroll */
.controlle_compras_detalhes::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.1);
}

.controlle_compras_detalhes::-webkit-scrollbar-thumb {
   border-radius:10px;
    background:#8b8778;
   }


.Titulo_compras{
  width: 100%;
  height: 50px;
  /* background-color: red; */
}


.Titulo_compras h1{
  margin:auto;
  padding: 0px;
  text-align: center;
}

.detalhe_compra{
  width: 100%;
  height: auto;
  min-height: 100px;
  background-color:#ccc;
  overflow: hidden;
  border-bottom: 2px solid red;
}


.imagen_produto{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-left: 2%;
  padding-top: 2%;
  float: left;
}

.imagen_produto img{
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.descricaoProduto{
  width: 400px;
  height: auto;
  min-height: 50px;
  /* background-color: purple; */
  float: left;
  margin-left: 1%;
  padding-top: 10px;
  overflow: hidden;

}

.descricaoProduto p{
  padding: 0px;
  margin: 0px;
}

.dadosCliente{
  width: 70%;
  height: auto;
  min-height: 10px;
  /* background-color: purple; */
  float: left;
  margin-left: 1%;
  padding-top: 10px;
  overflow: hidden;

}

.dadosCliente p{
  padding: 0px;
  margin: 0px;
}

.ValorProduto{
  width: 15%;
  height: auto;
  min-height: 10px;
  /* background-color: purple; */
  float: left;
  /* margin-left: 1%; */
  padding-top: 10px;
  margin-left: auto;
  overflow: hidden;

}


.ValorProduto p{
  padding: 0px;
  margin: 0px;
}

.statusProduto{
  width: 70%;
  height: auto;
  min-height: 10px;
  /* background-color: purple; */
  float: left;
  /* margin-left: 1%; */
  padding-top: 10px;
  margin-left: auto;
  overflow: hidden;
}


.statusProduto p{
  padding: 0px;
  margin: 0px;
}

.AprovarCompra{
  width: 30%;
  height: 10px;
  float: left;
  padding-top: 6px;
}

.dataCompra{
  width: 100%;
  height: 10%;
}

.dataCompra p{
  padding: 0px;
  margin: 0px;
}

.catao{
  width: 350px;
  height: 300px;
  margin: auto;
  /* background-color: pink; */
}

.dadosPagamento{
  width: 50%;
  margin-bottom: 5px;
}
