body{
  margin: 0px;
  padding: 0px;
}
h1{
  padding: 0px;
  margin: 0px;
}
.suporte_titulo{
  width: 1000px;
  height: 800px;
  /*background: green;*/
}
.titulo_usuario{
  width:1000px;
  height: 50px;
  margin: auto;
  /*background-color: pink;*/
}
.titulo_usuario h1{
  padding: 0px;
  margin: 0px;
}

#conteudo_usuario{
  width: 1200px;
  height: 50px;
  background-color: #636568;
}

.dados_user{
  width: 180px;
  /*background-color: #ccc;*/
  height: 40px;
  float: left;
  font-size: 25px;
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
}

.dados_user_view{
  width: 180px;
  /*background-color: #ccc;*/
  height: 40px;
  float: left;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  /*font-weight: bold;*/
}

.dados_user_view img{
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.email_view{
  width: 280px;
  /*background-color: #c0c0c0;*/
  height: 40px;
  float: left;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;

}

.email{
  width: 280px;
  /*background-color: #c0c0c0;*/
  height: 40px;
  float: left;
  font-size: 25px;
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
}

.dados_user_modo{
  width: 280px;
  /*background-color: #00cc00;*/
  height: 50px;
  float: left;
  margin: auto;
}

.conteudo_usuario_info{
  width: 1200px;
  min-height:50px;
  height: auto;
  overflow: hidden;
  background-color: red;
  margin-top: 50px;

}

.modo_user{
  width: 50px;
  height: 50px;
  /*background-color: #000;*/
  float: left;
  margin-left: 7px;
}

/*Area de modal*/
.modalUsuario{
	width:700px;
	height:600px;
	background-color:magenta;
	 margin:auto;
  display: none;
  margin-top: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-left: 300px;


}

.modalContainerUsuario{
	width:100%;
	height:100vh;
	background: rgba(0, 0, 0, 0.7);
	position:fixed;
  margin: auto;
	display:none;
  z-index: 999;
}

#conteudo_usuario{
  width: 100%;
  height: auto;
}
