body{
  margin: 0px;
  padding: 0px;
}

#cabecalho_principal{
  width: 100%;
  height: auto;
  min-height: 150px;
  overflow: hidden;
  position: absolute;
  background-color: #000;
}

.cabecalho{
  max-width: 1200px;
  height: auto;
  height: 150px;
  /* background-color: blue; */
  margin: auto;
}

.logo{
  width: 200px;
  height: 100%;
  float: left;
  /* background-color: purple; */
}

.logo img{
  width: 100%;
  height: 100%;

}

.titulo{
  width: 800px;
  height: 100%;
  float: left;
  /* background-color: red; */
}

.titulo h1{
  font-size: 90px;
  margin: auto;
  /* padding-top: 50px; */
  text-align: center;
  color: #fff;
}

.logout{
  width: 200px;
  height: 100%;
  float: left;
  /* background-color: green; */
}

.img_user{
  width: 100px;
  height: 100px;
  margin: auto;
  /* padding-top: 20px; */
}

.img_user img{
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.sair_btn{
  width: 80px;
  height: 30px;
  background-color: purple;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: center;
  border-radius: 50px;
}

.sair_btn a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}


/* MENu */


nav{
  width: 200px;
  height: auto;
  min-height: 1000px;
  overflow: hidden;
  background-color: #000;
  float: left;
}

nav ul{
  width: 100%;
  margin-top: 200px;
  padding:0px;
  list-style: none;
}

nav ul li{
  text-align: center;
  font-size: 25px;
  border-top: 2px solid #fff;
}

nav ul li a{
  color: #fff;
  text-decoration: none;
}


/* PAdro
 */
.principal{
  width: 100%;
  height: 100vh;
  /* background-color: yellow; */
}


.conteudo_principal{
  max-width: 1200px;
  height: auto;
  min-height: 1000px;
  overflow: hidden;
  background-color: blue;
  margin: auto;
}
